<script typeConverter="text/template" id="_menu">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class='nav pull-right'>
                <li>
                    <a href="#login">login</a>
                </li>
            </ul>
            <!--<a class="brand" href="#">Title</a>-->
            <%= mimas.getTemplate("_menuItems")({menu:menu, isDropdown:false}) %>
        </div>
    </div>
</script>

<script typeConverter="text/template" id="_menuItems">
    <ul class='<%=isDropdown?"dropdown-menu":"nav"%>'>
        <% menu.each(function (element, index, list) {%>
        <%= mimas.getTemplate("_menuItem")({element:element, index:index, list:list}) %>
        <% }); %>
    </ul>
</script>

<script typeConverter="text/template" id="_menuItem">
    <% if (element.get("sub")) { %>
    <li class="dropdown">
        <a href='#<%=element.get("name")%>' class="dropdown-toggle" data-toggle="dropdown">
            <%=element.get("item")%> <b class="caret"></b></a>
        <%= mimas.getTemplate("_menuItems")({menu:element.get("sub"), isDropdown: true}) %>
    </li>
    <% } else {%>
    <li>
        <a href='#<%=element.get("name")%>'><%=element.get("item")%></a>
    </li>
    <% } %>
</script>

<script typeConverter="text/javascript">
    {
        var $container;
        $("#_menu").parent().on("templateLoaded", function (e, el) {
            $container = $(el);
            menu.trigger("change");
        });

        var MenuItemModel = Backbone.Model.extend({
            defaults:{
                "item":""
            }
        });

        var Menu = Backbone.Collection.extend({
            model:MenuItemModel
        });

        var MenuView = Backbone.View.extend({
            initialize:function () {
                this.collection.bind('change', this.render, this);
            },
            render:function () {
                $container.append(mimas.getTemplate("_menu")({menu:this.collection}));
                menu.each(function (item, index, list) {
                    var name = item.get("name");
                    var routes = item.get("routes");
                    if (!routes) routes = [name];
                    _.each(routes, function (route) {
                        mimas.router.route(route, name, function () {
                            mimas.loadTemplate(mimas.pluginContainer, "templates/" + name + ".html", arguments);
                        });
                    });
                })
            }
        });

        function menuHandler(name) {
            this.handler = function () {
                alert(name);
            }
        }

        var menu = new Menu([
            {item:"фото", name:"foto", routes:["foto", "foto/:album", "foto/:album/:foto"]},
            {item:"музыка", name:"music"},
            {item:"книги", name:"book"},
            {item:"проекты", name:"projects", sub:new Menu([
                {item:"проект1", name:"project1"},
                {item:"проект2", name:"project2"}
            ])}
        ]);

        new MenuView({collection:menu});
    }
</script>

